{
    "branches": [
        "main",
        {
            "name": "develop",
            "prerelease": "beta",
            "channel": "beta"
        }
    ],
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        "@semantic-release/changelog",
        "@semantic-release/git",
        "@semantic-release/github",
        ["@codedependant/semantic-release-docker", {
            "dockerImage": "israeli-banks-sure-importer",
            "dockerProject": "tomerh2001",
            "dockerRegistry": "ghcr.io"
        }]
    ]
}
